body {
  font-size: 14pt;
  max-width: 640px;
  margin: auto;
  line-height: 1.8;
  padding: 20px;
}
p.chapter {
  border: solid 1pt #ccc;
  background-color: #eee;
  padding: 8pt;
}
a {
  margin-right: 10px;
}
div {
  text-align: center;
}
.title {
  font-size: 28pt;
  font-weight: bold;
}
sup {
  color: #900;
  font-weight: bold;
}
.page {
  page-break-before: always;
}
